%meta{:charset => 'utf-8'}
%meta{'http-equiv' => 'x-ua-compatible', :content => 'ie=edge, chrome=1'}
%meta{:name => 'viewport', :content => 'width=320 initial-scale=1; maximum-scale=1; user-scalable=0'}
%meta{:name => 'apple-mobile-web-app-capable', :content => 'yes'}
%meta{:name => 'apple-mobile-web-app-status-bar-style', :content => 'black'}
%title
  = @page_title || 'Untitled'
%link{:rel => 'shortcut icon', :href => './favicon.ico', :type => 'image/x-icon'}
%link{:rel => 'apple-touch-icon', :href => './icon.png'}
%link{:rel => 'stylesheet', :href => './stylesheets/application.css'}