- @page_title = 'Scrum Cards'

%table#card-small-grid
  %tr
    %td
      .card-small{"data-target" => "card-large-0"}
        %span 0
    %td
      .card-small{"data-target" => "card-large-half"}
        %span ½
    %td
      .card-small{"data-target" => "card-large-1"}
        %span 1
  %tr
    %td
      .card-small{"data-target" => "card-large-2"}
        %span 2
    %td
      .card-small{"data-target" => "card-large-3"}
        %span 3
    %td
      .card-small{"data-target" => "card-large-5"}
        %span 5
  %tr
    %td
      .card-small{"data-target" => "card-large-8"}
        %span 8
    %td
      .card-small{"data-target" => "card-large-13"}
        %span 13
    %td
      .card-small{"data-target" => "card-large-20"}
        %span 20
  %tr
    %td
      .card-small{"data-target" => "card-large-40"}
        %span 40
    %td
      .card-small{"data-target" => "card-large-100"}
        %span 100
    %td
      .card-small{"data-target" => "card-large-question"}
        %span ?

#card-large-voted.card-large
  %span &spades;
#card-large-0.card-large
  %span 0
#card-large-half.card-large
  %span &frac12;
#card-large-1.card-large
  %span 1
#card-large-2.card-large
  %span 2
#card-large-3.card-large
  %span 3
#card-large-5.card-large
  %span 5
#card-large-8.card-large
  %span 8
#card-large-13.card-large
  %span 13
#card-large-20.card-large
  %span 20
#card-large-40.card-large
  %span 40
#card-large-100.card-large
  %span 100
#card-large-question.card-large
  %span ?